.comment-box {
  display: grid;
  grid-template-columns: auto auto;
  align-content: center;
  justify-content: space-between;
  padding: 10px;
}

.comment-box__left-side {
  display: grid;
  grid-template-columns: auto;
  justify-content: start;
  justify-items: start;
}

.comment-box__right-side {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
}

.comment-index {
  color: #9a9a9a;
  font-size: 20px;
  font-weight: bold;
}

.comment-author {
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  color: #9a9a9a;
}

.comment-body {
  word-wrap: break-word;
  text-align: left;
  color: #acacac;
  max-width: 500px;
}

.comment-box__right-side__upvotes {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  align-items: center;
  color: #9a9a9a;
}

.comment-box__right-side__upvotes i {
  color: green;
  margin-right: 10px;
}

p {
  margin: 0;
}

.comment-box__right-side__downvotes {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: start;
  color: #9a9a9a;
}

.comment-box__right-side__downvotes i {
  color: red;
  margin-right: 10px;
}
