* {
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}

.container {
  margin: auto;
  margin-top: 20px;
  position: relative;
}

.container form {
  width: 70%;
  margin: auto;
  position: relative;
}

.comment-textarea {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #acacac80;
  box-shadow: none;
  color: #b7b7b7;
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
}

.btn-post-comment {
  padding: 10px;
  color: white;
  background: #f94148;
  border: 0;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  position: absolute;
  top: 135px;
  right: -20px;
  /* margin-top: 25px; */
}

::placeholder {
  color: #b7b7b7;
}
